<% if @post.hero_image_url %>
    <div class="container blog-image-container">
	<div class='image-wrapper' style='background-image:url(<%= @post.hero_image_url %>); '></div>
	<div class="row">
	    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<p class='caption'>
		    <%= @post.hero_image_caption %></p>
	    </div>
	</div>
    </div>
<% else %>
    <div class="container">
	<div class="post-content">
	    <p><%= @post.snippet %></p>
	</div>
    </div>
<% end %>
