//#######################################################################
//NAVIGATION
//#######################################################################


.bg-dark {
  background: $nav-bg-dark;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-dark {
  .navbar-toggler {
    border: 0;
    outline: none;
  }

  .navbar-nav {
    .nav-link {
      border: 0;
      color: #cececf;
      font-size: 15px;
      font-weight: 600;
      outline: none;
      padding: 15px 22px 15px 22px;

      &:hover {
        background: #349dff;
      }
    }

    .active > .nav-link {
      background: #30308a !important;
      cursor: default;
      pointer-events: none;
    }
  }
}

.top-nav {
  z-index: 5;

  .navbar-nav {
    .active > .nav-link {
      background: $med-light-grey;
      color: #fff !important;
    }

    .nav-link {
      &.active, &.show {
        background: $med-light-grey;
        color: #fff !important;
      }

      &:hover {
        background: $med-light-grey;
      }
    }

    .show > .nav-link {
      background: $med-light-grey;
      color: #fff !important;
    }
  }
}

.navbar-brand {
  padding-bottom: 0;
  padding-top: 0;

}

.md-logo-div {


  background-image: url('./bss-logo.svg');
  height: 2.5em;
  width: 7em;
  transition: background-image .2s ease-in-out;

  background-repeat: no-repeat;

  &:hover {
    background-image: url('./bss-logo-hover.svg');
    height: 2.5em;
    width: 7em;
  }
}

.sm-logo-div {
  display: none;
  background-image: url('./bss-logo-sm-2.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  content: url('./bss-logo-sm-2.svg');
  width: 279px;
  background-size: contain;
  transition: background-image 0.2s ease-in-out;
  height: 2.8em;

  &:hover {
    background-image: url('./bss-logo-sm-2-hover.svg');
  }
}


body:not(.scrollup) .sm-logo-div {
  display: none;
}


.main-nav {
  position: relative;
  z-index: 3;

  .fa-search {
    font-weight: 600;
  }

  .navbar-nav {
    .nav-link, .nav-item a {
      font-weight: 700;
      font-size: 18px;
      color: #b9ffff;
      padding: 27px 38px 27px 38px;
      border: 0;
      outline: none;
    }

    .nav-heading {
      h2 {
        color: #fff !important;
        margin-top: 0;
        font-weight: 400 !important;
        padding: 0;
        font-size: 44px;
        a {
          color: #fff !important;
          font-size: 44px;
          font-weight: 400 !important;
          margin-top: 0;
          padding: 0;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 65px;
            bottom: 80%;
            padding: 50px 50px 50px 50px;

          }
        }
      }

      h3 {
        color: #fff !important;
        margin-top: 0;
        margin-bottom: -10px;
        font-weight: 600;
        padding: 0;
        a {
          color: #fff !important;
          margin-top: 0;
          margin-bottom: -10px;
          font-weight: 600;
          padding: 0;
        }
      }
    }

    .nav-heading:hover {
      h3 a, h2 a {
        color: $headline_color;
      }

      .circle {
        border: 4px solid $headline_color;
        .fas {
          color: $headline_color;
          transition: all 0.2s ease-in-out;
        }
      }
    }

  }

  .navbar-nav .nav-heading-link {
    border: 0;
    margin-top: 80px;
    h2 {
      padding-top: 10px;
      a {
        font-size: 44px !important;
        line-height: 54px !important;
        font-weight: 400 !important;
        text-transform: initial !important;
        padding: 0 !important;
        color: #fff;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 50px 0 130px 0;
          top: 80px;
        }
      }
    }
  }

  .top-nav-mobile {
    .nav-item a {
      color: #cececf;
    }

    .nav-link:hover {
      background: #89898e;
    }
  }

  #dropdown2 {
    color: #b9ffff;
  }

  .show > #dropdown2 {
    color: #18187d;
  }

  #dropdown3 {
    color: #b9ffff;
  }

  .show > #dropdown3 {
    color: #18187d;
  }
}



.dropdown-menu {
  min-width: 24rem;
}

.dropdown-menu-top {
  background: #89898e;
  border: 0;
  border-radius: 0;
  margin-top: 0;
  padding-right: 20px;
  min-width: 339px;
  .dropdown-item {
    color: #fff;
  }

  ul.caret-list {
    padding-left: 50px;
    li {
      &:before {
        color: #fff;
        text-indent: -14px;
        padding-left: 0;
        padding-right: 14px;
      }

      a {
        color: #fff;
        &:hover {
          color: #3c3c40 !important;
        }
      }
    }
  }

  .caret-list li:hover {

    &::before,
    a {
      color: #3c3c40 !important;
    }
  }
}

.dropdown-menu-bottom {
  background: #349dff;
  border: 0;
  border-radius: 0;
  margin-top: 0;
  padding-right: 40px;
  padding-left: 40px;
  left: -130px;
  min-width: 270px;
  ul.caret-list {
    --padding-left: 50px;
    li {
      &:before {
        color: #8dcbfe;
      }

      a {
        padding: 0 !important;
        color: #fff !important;
        &:hover {
          color: $headline-color;
        }
      }
    }
  }

  .caret-list li:hover {
    &:before, a {
      color: $headline-color;
    }
  }
}

.dropdown-menu-full {
  background: #349dff;
  border-radius: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: -1px;
  border-top: 0;

  .caret-list {
    li {
      a {
        padding: 0 !important;
        color: #fff !important;
        &:after {
          content: '';
          position: absolute;
          z-index: 9999;
          padding: 14px 14px 13px 14px;
          width: 100%;
          left: 0;
        }
      }

      a:hover {
        color: #19197d !important;
      }

      &:hover {
        a, &:before {
          color: #19197d !important;
        }
      }

      &:last-child {
        a {
          &:after {
            padding: 14px 14px 70px 14px;
          }
        }
      }
    }
  }
}

#dropdown1 .fa-angle-down, #dropdown2 .fa-angle-down, #dropdown3 .fa-angle-down {
  font-weight: 600;
  font-size: 18px;
  top: 1px;
  position: relative;
  left: 4px;
}

.dropdown-item {
  &.active, &:active, &:focus, &:hover {
    background-color: none !important;
    background: none !important;
  }
}

.navbar-dark {
  .navbar-toggler-icon {
    background: none;
    margin-right: 0;
  }

  .navbar-toggler-icon:before {
    font-size: 27px;
    content: "\f0c9";
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    font-weight: 900;
  }

  .navbar-nav {
    .active > .nav-link {
      color: #b9ffff;
      background: #349dff;
    }

    .nav-link {
      &.active, &.show {
        color: #18187d;
        background: #349dff;
      }
    }

    .show > .nav-link {
      color: #18187d;
      background: #349dff;
    }
  }
}

.navbar .collapsed:before {
  content: none !important;
}

.top-nav-mobile {
  display: none;
  background: #3c3c40;
  margin-top: 14px;
  .dropdown-menu {
    background: none;
    border-radius: 0;
  }
}

.top-nav-mobile {
  .active > .nav-link {
    color: #fff !important;
    background: #89898e !important;
  }

  .nav-link {
    &.active, &.show {
      color: #fff !important;
      background: #89898e !important;
    }
  }

  a {
    color: #fff;
  }

  .show > .nav-link {
    color: #fff !important;
    background: #89898e !important;
  }

  .dropdown-menu {
    background: #89898e;
    margin-top: -1px !important;
    a {
      display: block;
      color: #fff !important;
      padding: 8px 0 8px 4px !important;
      &:before {
        font-family: 'Font Awesome 5 Pro';
        content: '\f105';
        display: inline-block;
        padding-right: 14px;
        color: #fff;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.second-nav-row {
  margin-top: 60px;
}

.nav-heading {
  border-bottom: 3px solid #30b3fe;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 60px;
  .circle {
    border: 4px solid #b9ffff;
    background-color: #359dff;
    border-radius: 50%;
    color: #fff;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 30px !important;
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
    .fas {
      color: #b9ffff;
      transition: all 0.2s ease-in-out;
    }
  }
}

.show > a > .fa-angle-down {
  transform: rotate(-180deg);
}

@media (max-width: 1199px) {
  .main-nav .navbar-nav .nav-heading {
    h2 {
      font-size: 32px;
      a {
        font-size: 32px;
      }
    }

    h3 {
      font-size: 18px;
      a {
        font-size: 18px;
      }
    }
  }

  .nav-heading-link h2 a {
    font-size: 32px !important;
  }
}

@media (max-width: 991px) {


  .md-logo-div {
    margin-left: 15px;
  }

  .main-nav {
    .container {
      max-width: initial;
    }


    .navbar-nav {
      .nav-link, .nav-item a {

        padding: 26px;
        font-size: 15px;
      }



      .nav-link:hover {
        background: #349dff;
        color: #b9ffff;
      }

      .nav-heading-link {
        h2 {
          a {
            &:before {
              padding: 50px 0 60px 0;
            }
          }
        }
      }
    }
  }


  .top-nav-mobile {
    .nav-link {
      &:hover {
        background: #89898e !important;
      }
    }
  }

  .dropdown-menu-top ul.caret-list {

    li {

      a {
        font-size: 15px;
      }
    }
  }


  .navbar-nav {
    .dropdown-menu {
      padding: 0 10px 0 10px;
    }
  }

  .nav-heading .circle {
    height: 50px;
    width: 50px;

    .s,
    .fas {
      font-size: 36px !important;
      margin-left: -17%;
    }
  }

  .main-nav .navbar-nav .nav-heading {
    h2 {
      font-size: 22px;
      a {
        font-size: 22px;
      }
    }

    h3 {
      margin-bottom: -18px;
      Font-size: 15px;
      a {
        margin-bottom: -18px;
        font-size: 15px;
      }
    }
  }

  .nav-heading-link h2 a {
    font-size: 22px !important;
  }
}

@media (max-width: 767px) {
  .second-nav-row {
    margin-top: 0;
  }

  .dropdown-menu-full {
    padding-top: 0;
  }

  .dropdown-menu-bottom {
    ul.caret-list {
      margin-top: 0;
      padding-left: 32px;
      li {
        padding: 8px 0 8px 0;
        margin: 0;
        a:after {
          content: '';
          position: absolute;
          z-index: 9999;
          padding: 14px 14px 13px 14px;
          width: 100%;
          left: 0;
        }
      }

      li:before {
        padding-right: 10px;
        position: relative;
        top: 1px;
      }
    }
  }

  .top-nav-mobile {
    display: block;
    .dropdown-menu {
      a {
        &:hover {
          color: $nav-bg-dark;
          &:before {
            color: $nav-bg-dark;
          }
        }
      }
    }
  }

  .main-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px 0 15px 0;
    .navbar-nav {
      .nav-link, .nav-item a {
        padding: 15px;
      }
    }
  }
}
